# Ключевые слова

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Типы данных
1. None (неопределенное значение переменной)
2. Логические переменные (Boolean Type)
3. Числа (Numeric Type)
    1. int – целое число
    2. float – число с плавающей точкой
    3. complex – комплексное число
4. Списки (Sequence Type)
    1. list – список
    2. tuple – кортеж
    3. range – диапазон
5. Строки (Text Sequence Type )

### сложите 4 и 8, результат поделите на 5, далее умножьте полученное значение на 12 и найдите остаток от деления этого числа и 2

In [2]:
print((4 + 8) / 5 * 12 % 2)

0.7999999999999972

# Строки

сложите две строки "123" и "456"

In [3]:
print('123' + '456')

123456

### Посмотрите на выражения и определите True или False

"230" > "23", "23" < "1", "23" == "12", "230" < "231", "abcd" > "abce", "abc" < "ab1"

In [4]:
"230" > "23" True, 
'23' < '1' False,
'23' == '12' False
'230' < '231' True
'abcd' > 'abce' False

True

### В строке "SoMeTeXT" сделайте все буквы большими

In [8]:
txt = 'SoMeTeXT'
print(txt.upper())

SOMETEXT

### True или False получится в следующих выражениях?

5 == 5.0, 0.1 + 0.1 + 0.1 == 0.3, True == 1, False != 0, True >= False

In [ ]:
5 == 5.0,True
0.1 + 0.1 + 0.1 == 0.3 True
True == 1 True
False != 0 False
True >= False True

### С помощью встроенных функций переведите число 3 в float, 3.5 в int, True в int, True в str, 34 в str, 1 в bool

In [18]:
print(float(3), type(float(3)))
print(int(3.5), type(int(3.5)))
print(int(True), type(int(True)))
print(str(True), type(str(True)))
print(str('34'), type(str('34')))
print(bool(1), type(bool(1)))

3.0 <class 'float'>
3 <class 'int'>
1 <class 'int'>
True <class 'str'>
34 <class 'str'>
True <class 'bool'>

# Переменные

### присвоение переменной к значению происходит через =. И задайте переменную x равной True. Выведите перменную с помощью функции print

In [20]:
x = True
print(x)

True

### Задайте переменную y равной False, сравните два значения, чтобы получить True

In [21]:
y = False
print(y != True)

True

### В одну строку присвойте переменным x, y, z произвольные значения с разными типами данных

In [25]:
x, y, z = 3.5, 'str', True
print(type(x), type(y), type(z))

<class 'float'> <class 'str'> <class 'bool'>

# Условия if, elif, else

### Напишите программу, которая сравнивает две перменные x и y. Если значения x больше, вывести "Первая переменная больше", если y больше - "Вторая переменная больше", если значения равны - "Переменные равны"

In [38]:
x = input('Введите x: ')
y = input('Введите y: ')
print(x, y)

if x > y:
    print('Первая перeменная больше: ', x)
elif x < y:
    print('Вторая переменная больше: ', y)
else:
    print('Переменные равны')

Введите x: 3
Введите y: 3
3 3
Переменные равны

### Дано 3 числа (10, 21, 6). Найти минимальное среди них и вывести на экран

In [39]:
print(min(10, 21, 6))

6

### Создайте пустой список. Добавьте в список значения 3 и "Конец списка". Удалите второй элемент списка. Расширьте список другим списком [1, 4, 5, 6]. Отсортируйте список

In [49]:
a = []
b = [1, 4, 5, 6]

a.append(3)
a.append('Конец списка')
print(a)

del a[1]
print(a)

a = sorted(a + b)
print(a)

[3, 'Конец списка']
[3]
[1, 3, 4, 5, 6]

# Циклы

### напишите программу, которая в цикле проходит по списку [1,2,3,5,6,7,54,3,50,43,0,35,5342,3] и после первого нуля в списке выводит сумму предыдущих числе. Решите задачу двумя способами (новая переменная для суммы и суммой по срезу) для цикла for

In [58]:
a = [1,2,3,5,6,7,54,3,50,43,0,35,5342,3]
i = 0
sum_number = 0
for i, j in enumerate(a):
    
    if j != 0:
        sum_number += j
        i += 1

    else:
        print(sum_number)
        break

174

In [62]:
a = [1,2,3,5,6,7,54,3,50,43,0,35,5342,3]
i = 0
sum_number = 0

for i in range(len(a)):
    if a[i] == 0:
        print(sum(a[: i]))

14
174

### Дана строка "Anoter Esome Text Efor example. I ehave no eideas for this". Найдите количество слов, начинающихся с буквы "e"

In [93]:
a = 'Anoter Esome Text Efor example. I ehave no eideas for this'
print(a.count(' e'))

3

### Закодируйте строку. s = 'AttTggGGggGGCCcCAaTtTtTTGG' преобразуется в 'A1T3G8C4A2T6G2', то есть группы одинаковых символов исходной строки заменяются на этот символ и количество его повторений в этой позиции строки

In [80]:
s = 'AttTggGGggGGCCcCAaTtTtTTGG'
encoded_string = ""
count = 1

for i in range(len(s)-1):
    if s[i] == s[i+1]:
        count += 1
    else:
        encoded_string += s[i] + str(count)
        count = 1

encoded_string += s[-1] + str(count)
print(encoded_string)

A1t2T1g2G2g2G2C2c1C1A1a1T1t1T1t1T2G2

### Используя list comprehension, создайте список от 1 до 10

In [100]:
a = [x for x in range(11)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Заполните список числами range(11), где каждое последующее число больше на 2. Начать с 1

In [89]:
a = [x + 2 for x in range(-1, 11, 2)  ]
print(a)

[1, 3, 5, 7, 9, 11]

### Найдите две самые большие цифры и выведите их на экран. t = [100, 98, 1000, 2500, 299, 1898, 1989, 2001, 50, 10, 70]

In [91]:
t = [100, 98, 1000, 2500, 299, 1898, 1989, 2001, 50, 10, 70]
print(max(t))
t.remove(max(t))
print(max(t))

2500
2001